@font-face {
  font-family: Kdam-Thmor;
  font-weight: 400;
  src: url(../fonts/Kdam-Thmor.ttf);
}
/*------ Variables ------*/
:root {
  --base-shade-1: #7E50CA;
  --white-shade-1: #ffffff;
  --white-shade-2: #d7e1f3;
  --black-shade-1: #232323;
  --black-shade-2: #676a8b;
  --purple-shade-1: #7E50CA;
  --grad-color-1: 0, 180, 250;
  --grad-color-2: 21, 120, 255;

  --base-font-size: 1.6rem;
  --heading-font-size-1: 4rem;
  --heading-font-size-2: 3.2rem;
  --heading-font-size-3: 2rem;
  --heading-font-size-4: 1.8rem;

  --border-radius-1: 1rem;
  --border-radius-2: 0.5rem;
}

/*------ Base Styles ------*/
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.fontset{
  font-family: Kdam-Thmor;
  font-size: 85px;
}
*:not(i) {}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  
  
}

/*------ Utility Classes ------*/
body {
  background: #292929;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  

}

.anchorroundtext {
  position: absolute;
  width: 200px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 10px 0 0 20px;
}

.roundbg {
  width: 50px;
  height: 50px;
  position: relative;
  background-color: #7E50CA;
  margin: 20px 0;
  border-radius: 30px;
  margin-left: 20px;
}
.liround{
  width: 50px;
  height: 50px;
  position: relative;
  background-color: #7E50CA;
  border-radius: 30px;
  margin-left: 20px;
}
.text{
  font-size: normal;
  margin-top: 5px;
}
.specialNav{

  padding-right: 40px;

 } 

.roundtextset {
  padding: 10px 0 0 0px;
}

section,
footer {
  padding: 9rem 5rem;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5rem;
}

.column {
  width: 30%;
  border: 1px solid #7E50CA;
}

.centerflex {
  align-items: center;
  justify-content: center;
}

.padding-20 {
  padding: 20px;
}

.column1 {
  background-color: #292929;
  width: 22%;
  border-radius: 10px;
  height: 300px;
  border: 1px solid #7E50CA;
}

.section-desc {
  text-align: center;
  margin: 2rem 0 6rem 0;
}

h1 {
  font-size: var(--heading-font-size-1);
  color: var(--white-shade-1);
  margin-bottom: 2rem;
  word-spacing: 1rem;
  line-height: 1.6;
}

h2 {
  font-size: var(--heading-font-size-2);
  color: var(--white-shade-1);
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: var(--heading-font-size-3);
  color: var(--white-shade-1);
  font-weight: 700;
  margin: 1.5rem 0;
  text-align: left;
}

h4 {
  font-size: var(--heading-font-size-4);
  color: var(--black-shade-2);
  margin: 1.5rem 0;
}

p,
button {
  font-size: var(--base-font-size);
  color: var(--white-shade-1);
  line-height: 1.8;
  font-weight: 400;
}

.btn {
  background-color: transparent;
  padding: 1rem 2rem;
  border-radius: var(--border-radius-2);
  border: none;
  margin: 2rem 0;
}

.primary-btn {
  background-color: var(--base-shade-1);
  color: var(--white-shade-1);
}

.secondary-btn {
  border: 0.3rem solid var(--base-shade-1);
  color: var(--base-shade-1);
}

/*------ Header ------*/
header {
  position: fixed;
  width: 100%;
  z-index: 99;
  padding: 1.5rem 5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 6rem;
  align-items: center;
}

nav a {
  font-size: var(--heading-font-size-4);
  text-decoration: none;
}

nav a#logo {
  color: var(--black-shade-1);
  font-weight: 700;
}

nav ul a {
  color: var(--white-shade-1);
}

nav ul li a {
  font-family: 'Inter', sans-serif;
}

/*-- SideMenu --*/
#ham-menu {
  display: none;
}

nav ul.active {
  left: 0;
}

/*-- Sticky Header --*/
.sticky {
  background-color: #292929;
  box-shadow: 0 2rem 1.5rem rgba(0, 0, 0, 0.05);
}

.sticky nav ul a,
.sticky nav a#logo,
.sticky #ham-menu {
  color: var(--white-shade-1);
}

/*-- Link Hover Effect --*/
nav ul a:hover {
  color: var(--black-shade-1);
}

.sticky nav ul a:hover {
  color: var(--base-shade-1);
}

/*------ Section: Hero ------*/
section.hero {
  background-color: #292929;
  display: grid;
  height: 100vh;
  grid-template-columns: 5fr 7fr;
  align-items: center;
  
}
section{
}
.posRel{
  position: relative;
}
.moonelipse{
  position: absolute;
  bottom: -95px;
  left: -10px;
  width: 200px;
height: 200.816px;
flex-shrink: 0;
}
.moonelipse:hover{
  rotate: 360deg;
}
#header-shape {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero-content {
  width: 70%;
}

.hero-content p {
  text-align: justify;
  font-size: 22px;
  line-height: 35px;
}

.hero-img img {
  display: block;
  width: 100%;
}

.btn-container {
  display: flex;
  gap: 3rem;
}

/*------ Section: Features ------*/
.features .row {
  align-items: center;
}

.features .column {
  padding: 6rem 2rem;
  border-radius: var(--border-radius-1);
}

.features .column p {
  text-align: left;
}

.features h3 {
  margin: 3rem 0;
}

.features i {
  display: block;
  height: 6rem;
  width: 6rem;
  margin: 0 auto;
  font-size: 3.5rem;
  background-color: var(--base-shade-1);
  color: var(--white-shade-1);
  padding: 1.3rem 0;
  text-align: center;
  border-radius: var(--border-radius-2);
}

.navbar-image-width {
  width: 230px;
}

/* .features .column:hover {
  background-color: var(--base-shade-1);
} */
.features .column:hover h3 {
  color: var(--white-shade-1);
}

.features .column:hover p {
  color: var(--white-shade-2);
}

.features .column:hover i {
  background-color: var(--white-shade-1);
  color: var(--base-shade-1);
}
.column:hover {
  transform: scale(1.05); /* Adjust the value to control the zoom level */
  transition: all 0.5s;
}
.column1:hover {
  transform: translateY(-15px); /* Adjust the value to move it up by desired amount */
  transition: all 0.5s;
}

/*------ Section: Courses ------*/
.courses .row {
}

.courses .column {
  box-shadow: 0 0.5rem 2.4rem 0.6rem rgba(0, 0, 0, 0.06);
  border-radius: var(--border-radius-1);
  display: flex;
  flex-direction: column;
}

.courses .column>*:not(img) {
  padding: 0 2rem;
}

.courses .column img {
  border-radius: var(--border-radius-1) var(--border-radius-1) 0 0;
  width: 100%;
}

.padding-20 img {
  width: 69px;
}

.courses .column p {
  text-align: left;
  flex-grow: 1;
}

.purplecolor {
  color: var(--purple-shade-1);
}

.bordernone {
  border: none;
}
.clientcolumn{
  width: 30%; margin: 20px; background: transparent;
}
.Glimpse_inerdev{
  background-color: #373737; width: 100%; height: auto; padding-bottom: 20px; border-radius: 10px; position: relative; z-index: -1;
}
.stars{
  font-size: 13px; padding: 20px 5px; padding-bottom: 40px; text-align: left; color: #FBFF26; align-items: left;
}
.mg-left20{
  margin-left: 20px;
}
.Glimpse_inerdev p{
  margin-left: 30px; text-align: justify; font-size: 20px; margin-right: 30px; line-height: 26px;
}
.Glimpseround-row {
  align-items: center;
  text-align: left;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
}

.Glimpseround-inner {
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.Glimpseround-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 45px;
}

.Glimpseround-center p {
  color: black;
  text-align: center;
  align-items: center;
  font-size: 40px;
}

.Glimpseround-center a {
  text-decoration: none;
  color: #7E50CA;
  font-size: 15px;
  font-weight: 600;
}

.courses-btn {
  display: flex;
  justify-content: left;
}

.Glimpseround-column {
  width: 200px;
  height: 200px;
  margin: 20px;
}

.circlesa {
  background-color: #00a8fa;
  border-radius: 50px;
  width: 60px;
}

.courses-btn .btn:hover {
  color: var(--white-shade-1);
  background-color: var(--base-shade-1);
}

/*------ Section: Testimonials ------*/
.testimonial {
  background-image: linear-gradient(45deg,
      rgba(var(--grad-color-1), 0.8),
      rgba(var(--grad-color-2), 0.8)),
    url(testimonial-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.testimonial h2,
.testimonial .section-desc {
  color: var(--purple-shade-1);
  font-size: 26px;
}

.testimonial .row {
  align-items: stretch;
}

.testimonial .column {
  background-color: var(--white-shade-1);
  padding: 4rem 3rem;
  text-align: center;
  border-radius: var(--border-radius-1);
  display: flex;
  flex-direction: column;
}

.testimonial-image {
  height: 14rem;
  width: 14rem;
  margin: auto;
  padding: 0.9rem;
  background: linear-gradient(var(--white-shade-1) 50%,
      var(--base-shade-1) 50%);
  border-radius: 50%;
}

.testimonial-image img {
  width: 100%;
  border-radius: 50%;
}

.testimonial .column p {
  margin: 4rem 0;
  flex-grow: 1;
}

/*------ Section: Download App ------*/
.download-app .column:nth-child(1) {
  display: flex;
  justify-content: center;
}

.download-app .column:nth-child(2) {
  padding: 0 2rem;
}

.download-app img {
  display: block;
  width: 45%;
}

.app-feature {
  border-bottom: 1.5px dashed rgba(var(--grad-color-1), 0.4);
}

.app-feature:not(:last-child) {
  margin-bottom: 1.5rem;
}

.app-feature div {
  display: flex;
  gap: 2rem;
}

.app-feature p {
  margin-bottom: 1.5rem;
}

.download-app .fas {
  display: inline-block;
  background-color: var(--white-shade-2);
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  font-size: 2rem;
  text-align: center;
  padding: 1.5rem;
  color: var(--base-shade-1);
}

.download-app h3 {
  display: inline-block;
}

.download-btns {
  display: flex;
}

.download-btns a {
  display: inline;
  text-align: center;
}

.download-btns a img {
  display: inline-block;
  width: 70%;
}

/*------ Section: Footer ------*/
footer {
  background-color: var(--black-shade-1);
}

footer h3 {
  margin: 0;
}

footer h3,
footer h4 {
  color: var(--white-shade-1);
  text-align: center;
}

footer .row {
  margin-bottom: 6rem;
}

.footer-about {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 3rem;
  border-bottom: 2px solid var(--white-shade-1);
}

.social-links {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.social-links a {
  font-size: 3rem;
  text-decoration: none;
  color: var(--white-shade-1);
}

footer p {
  text-align: center;
}

/*------ Scroll Top Button ------*/
#scroll-top {
  position: fixed;
  display: none;
  place-items: center;
  height: 5rem;
  width: 5rem;
  right: 3rem;
  bottom: 3rem;
  background-color: var(--base-shade-1);
  color: var(--white-shade-1);
  border: none;
  outline: none;
  font-size: var(--heading-font-size-3);
  border-radius: var(--border-radius-2);
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2);
}

.headingfix {
  margin-bottom: 20px;
  color: #7E50CA;
}

.underheading {
  width: 56px;
  height: 12px;
  border-radius: 40px;
  background-color: white;
  margin: 30px auto;
}

/* Akram */
.underlineHeadings {
  width: 56px;
  height: 12px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #FFF;
  margin-top: 20px;
}

.teamText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teamsmallText {
  color: #7E50CA;
  font-family: Open Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.teamHead {
  color: #FFF;
  font-family: Open Sans;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.aboutTeam {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.teamImgRelative {
  width: 253px;
  height: 375px;
  flex-shrink: 0;
  border: 11px solid #373737;
  position: relative;
  margin-left: -40px;
  z-index: -1;
}

.teamPersonImg {
  width: 250px;
  height: auto;
  flex-shrink: 0;
  position: absolute;
  top: -30px;
  right: -30px;
}

.indvidualTeam {
  filter: grayscale(100%); /* Apply 100% grayscale by default */
  transition: filter 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.indvidualTeam:hover {
  filter: grayscale(0%); /* Remove grayscale on hover (0% means no grayscale) */
  scale: 1.05;
  transition: scale 0.4s;
}
.teampersonHead {
  color: #7E50CA;
  font-family: Open Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 15px;
}

.teampersonsmallText {
  color: #FFF;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 10px;
}

.teampersonText {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.pesonTeamAbout {
  color: #FFF;
  text-align: center;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  width: 400px;
  text-align: justify;
  margin-top: 15px;
}

.serviceSpec {
  color: #FFF;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 25px;
  text-align: center;
}

.servicesOffer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  margin-right: -50px;
  padding-left: 30px;
  padding-right: 60px;
}

.servicecolumn {
  display: flex;
  flex-direction: column;
}

.servicecolumn p {
  margin-top: 120px;
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.servicecolumn {
  margin-top: -130px;
}

.l1 {
  margin-right: -80px;
  padding-left: 50%;
}

.l2 {
  margin-right: 15px;
  text-align: right;
}

.l3 {
  margin-right: -80px;
  padding-left: 70%;

}

.r1 {
  margin-left: -50px;
}

.r2 {
  margin-left: 15px;
}

.r3 {
  margin-left: -50px;
}

.serviceImg {
  width: auto;
  height: 375px;
  flex-shrink: 0;
}


.servicecolumn p span {
  color: #7E50CA;
}
.aboutDiv{

  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutContent{
  width: 80%;
  height: auto;
  background: #373737;
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: -2;
}
.textAboutDiv{
  width: 60%;
  margin-top: 90px;
  margin-left: 65px;
  padding-right: 60px;
}
.aboutContent .teamImgRelative{
  width: 275px;
  height: 470px;
  border: 11px solid #292929;
position: absolute;
top: 0;
right: 65px;
}
.aboutContent .teamImgRelative .teamPersonImg{
  width: 300px;
  right: -60px;

  height: auto;
}
.aboutDiv{
  margin-bottom: 70px;
}
.aboutround{
margin-top: 50px;
margin-bottom: 70px;
}
.aboutPara{
  color: #D9D9D9;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
@media (max-width:1370px) {
  
  section.hero{
    margin-bottom: 200px;

  }
  .hero-content {
    width: 90%;
}
.column1{
  width: 30%;

}
}
@media (max-width:1300px) {
  .indvidualTeam {
    margin-top: 70px;
  }

}
@media (max-width:1220px) {
  

.aboutContent {
  flex-direction: column-reverse;
  align-items:  center;
}
.aboutContent .teamImgRelative{
  
position: relative;
right: 0;

}
.textAboutDiv{
  width: 85%;
}
.aboutDivImg{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
}
@media (max-width: 1002px){
  .clientcolumn{
    width: 50%;
  }
}
@media (max-width:650px) {
  section.hero{
    height: 140vh;
  }
  .fontset{
    font-size: 40px;
  }
  .courses .column{
    width: 80% !important;
  }
  .features .column1{
    width: 80% !important;
  }
  .serviceImg {
    width: auto;
    height: 275px;
    flex-shrink: 0;
  }

  .l1 {
    margin-right: -80px;
    padding-left: 50%;
  }

  .l2 {
    margin-right: 15px;
    text-align: right;
  }

  .l3 {
    margin-right: -80px;
    padding-left: 50%;
  
  }

  .r1 {
    margin-left: -50px;
  }

  .r2 {
    margin-left: 15px;
  }

  .r3 {
    margin-left: -50px;
  }

  .servicecolumn p {
    margin-top: 80px;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .hero-content{
    width: 100%;
  }
  .textAboutDiv{
    width: 95%;
  }
  .aboutContent{
    width: 90%;}
}
@media (max-width:550px) {
  .navbar-image-width{
    width: 150px;
  }
  .clientcolumn{
    width: 80%;
  }
  
  .serviceImg{
    width: auto;
    height: 205px;
  }
  

.servicecolumn {
    margin-top: -80px;
}

.servicecolumn p {
  margin-top: 55px;
 
}
.r3 {
  margin-left: -28px;
}
.r1 {
  margin-left: -29px;
}
}
@media (max-width:464px) {
  .servicesOffer{
    padding-left: 12px;
  }
  
.aboutContent .teamImgRelative{
  width: 215px;
  height: 310px;
margin-left: 1px;
}
.aboutContent .teamImgRelative .teamPersonImg{
  width: 200px;
  right: -20px;

  height: auto;
}
  
}
@media (max-width:430px) {
  
 .pesonTeamAbout{width: 85%;}
 .servicecolumn p {
 
  font-size: 10px;
  padding: 5px;

}
.l1 {
  margin-left: 30px;
 

  float: right;
}
.l2{
  padding-right: 0px;
  margin-right: -3px;
  margin-left: 15px;
}
.l3{
  margin-left: 40px;
 

  float: right;
}
.r1{
  margin-left: -60px;
  margin-bottom: 5px;
}
.r2{
  margin-left: 0px;
}
.r3{
  margin-left: -40px;
}


}
@media (max-width:370px) {
  .servicesOffer{
    /* width: 200px; */
  /* margin-right: -200px; */
  }
  .serviceImg{
    width: 150px;
  }
  .r1{
    margin-left: -30px;
    margin-bottom: 7px;
  }
  .r2{
    margin-left: 0px;
  }
  .r3{
    margin-left: -20px;
  }
  
}

/* Akram */




/* BACKGROUND START */
.area{
  background: transparent;  
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
  width: 100%;
  height:80vh;
  z-index: 1;
  position: absolute;
  
 
}

.circles{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  border-radius: 50%;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 25px;
  border-radius: 50%;
     background: #FFE7FF;
     box-shadow: 4px 4px 25.25px 0px #ffffff;

  height: 25px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  background: #7e50ca;
  box-shadow: 4px 4px 25.25px 0px #ffffff;
  border-radius: 50%;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  border-radius: 50%;
  height: 20px;
  background: #7e50ca;
  box-shadow: 4px 4px 25.25px 0px #ffffff;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 15px;
  height: 15px;
  background: #FFE7FF;
  box-shadow: 4px 4px 25.25px 0px #ffffff;
  animation-delay: 0s;
  border-radius: 50%;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 10px;
  background: #FFE7FF;
  box-shadow: 4px 4px 25.25px 0px #ffffff;
  height: 10px;
  border-radius: 50%;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 15px;
  height: 15px;
  background: #7e50ca;
  box-shadow: 4px 4px 25.25px 0px #F500F5;
  border-radius: 50%;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 16px;
  height: 16px;
  background: #7e50ca;
  box-shadow: 4px 4px 25.25px 0px #F500F5;
  border-radius: 50%;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  border-radius: 50%;
  background: #7e50ca;
  box-shadow: 4px 4px 25.25px 0px #F500F5;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  background: #7e50ca;
  box-shadow: 4px 4px 25.25px 0px #F500F5;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 10px;
  background: #7e50ca;
  box-shadow: 4px 4px 25.25px 0px #F500F5;
  border-radius: 50%;
  height: 10px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(-1000px) rotate(0deg);
      opacity: 1;
      border-radius: 100%;
  }

  100%{
      transform: translateY(0px) rotate(720deg);
      opacity: 0;
      border-radius: 100%;
  }

}
.rowfooter{
  display: flex; flex-direction: row; flex-wrap: wrap; padding: 20px 100px;
}
.colimn1{
  width: 28%;
}
.footerlogo{
  width: 400px;
}
.footertext{
  text-align: left;
}
.colimn2{
  width: 20%; padding: 0 80px;
}
.colimn3{
  width: 40%; padding: 0 20px;
}
.headingfooter{
  text-align: left; color: #7E50CA; font-size: 25px;
}
.rowinner{
  display: flex; flex-wrap: wrap; flex-direction: row; padding-top: 10px;
}
.rowinner img{
  padding-right: 10px;
}
.rowinner a{
  font-size: 20px; color: white; text-decoration: none;
}
.rowinner1{
  display: flex; flex-wrap: wrap; flex-direction: row; padding-top: 10px;
}
.rowinner1 img{
  padding-right: 10px;
  width: 40px;
  align-items: center;
}
.rowinner1 a{
  font-size: 20px; color: white; text-decoration: none;
}
.footeremail::placeholder{
  font-size: 20px;
  color: white;
}
.triangleclient{
  position: absolute; bottom: -25px; left: 25px;
}
.imagecllient{
  display: flex; flex-direction: row; align-items: center; margin-top: 50px;
}
.imagecllient img{
  width: 83px; height: 83px; border-radius: 50%;
}

.imagecllient span{
  font-size: 28px; font-weight: 600; padding: 24px; color: white;
}
.clientcolumn:hover{
  transform: translateY(-10px); /* Adjust the value to move it up by desired amount */
  transition: all 0.5s;
}
.Glimpseround-column:hover {
  transform: scale(1.1); /* Adjust the value to control the zoom level */
  transition: transform 0.5s ease; /* Add a smooth transition effect */
}
