<!-- allDomainCounts.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Domain Counts</title>
</head>
<body>
    <h1>Total Counts for All Domains:</h1>
    <ul>
      <% for (const domainName of domainNames) { %>
        <li><%= domainName %>: <%= counts[domainName] %></li>
      <% } %>
    </ul>
</body>
</html>