<!DOCTYPE html>
<html>
<head>
  <title>Blog Page</title>
  <link href="/stylesheets/blog.css" rel="stylesheet " type=" text/css">

</head>
<body>


<div class="blog screen">
  <div class="overlap-group8">
    <img class="rectangle-30" src="/images/rectangle-30.png" alt="Rectangle 30" />
    <div class="place place-3 opensans-normal-white-16px" style="color: white;">Home</div>
    <div class="blog-1 blog-3 opensans-normal-white-16px" style="color: white;">Blog</div>
    <h1 class="title">Blog</h1>
    <div class="place-1 place-3 opensans-semi-bold-white-16px" style="color: white;">Home</div>
    <div class="services services-2 opensans-normal-white-16px">Services</div>
    <div class="about-us opensans-normal-white-16px">About us</div>
    <div class="order-company opensans-normal-white-16px">Order Company</div>
    <div class="apply-for-tax-rebate opensans-normal-white-16px">Apply for tax Rebate
  </div>
  <div class="blog-2 blog-3 opensans-normal-white-16px" style="color: white;">Blog</div>
  <div class="place-2 place-3 opensans-normal-white-16px">
    <a style="color: white;" href="/contactus">Contact</a></div>
  <div class="rectangle-1"></div>
  <img class="image-1" src="/images/image-1.png" alt="image 1" />
  <img class="vector-1" src="/images/vector.svg" style="color: white;" alt="Vector" />
</div>
</div>




















  <!-- <div class="container">
    <% blogs.forEach(blog => { %>
      <h1><%= blog.title %></h1>
      <img src="<%= blog.image %>" alt="Blog Image">
      <p><%= blog.data %></p>
      <p>Published on: <%= blog.date.toDateString() %></p>
    
    <% }); %>
  </div> -->
</body>
</html>
