<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/stylesheets/homepagecss/global.css" />
    <link rel="stylesheet" href="/stylesheets/homepagecss/home.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@300;400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Patua One:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap"
    />
    <title>Home</title>
  </head>
  <body>
    <div class="home">
      <div class="home-child"></div>
      <div class="home-item"></div>
      <img class="frame-icon" alt="" src="/images/frame.svg" />

      <div class="home-inner"></div>
      <img class="rectangle-icon" alt="" src="/images/rectangle-29.png" />

      <div class="rectangle-div"></div>
      <div class="home1">Home</div>
      <div class="services">Services</div>
      <div class="about-us">About us</div>
      <div class="order-company">Order Company</div>
      <div class="apply-for-tax">Apply for tax Rebate</div>
      <div class="blog">Blog</div>
      <div class="contact">Contact</div>
      <div class="home-child1"></div>
      <div class="we-provide-a-container">
        <p class="we-provide-a">
          We provide a variety of services related to Accounting, Taxation and
          Finance for
        </p>
        <p class="we-provide-a">
          Businesses of all sizes across
          <span class="canada-our-differentiating"
            >Canada. Our differentiating factor is simple:</span
          >
        </p>
        <p class="we-provide-a">
          <span class="canada-our-differentiating">We </span>
          <span class="prioritize-our-clients"
            >prioritize our Clients' needs above all else, providing </span
          >peace of mind and
        </p>
        <p class="solutions-to-solve">solutions to solve their problems.</p>
      </div>
      <div class="its-time-to-container">
        <p class="solutions-to-solve">It’s time to seek financial advice</p>
        <p class="solutions-to-solve">from expert</p>
      </div>
      <img class="image-1-icon" alt="" src="/images/image-1.png" />

      <div class="home-child2"></div>
      <div class="home-child3"></div>
      <div class="start-up-services">Start-Up Services</div>
      <div class="we-support-entrepreneurs-container">
        <p class="solutions-to-solve">
          We support entrepreneurs to build their
        </p>
        <p class="solutions-to-solve">businesses by providing them with the</p>
        <p class="solutions-to-solve">
          ideal company formation legal services.
        </p>
      </div>
      <div class="home-child4"></div>
      <div class="home-child5"></div>
      <div class="financial-reporting">Financial Reporting</div>
      <div class="we-provide-our-container">
        <p class="solutions-to-solve">
          We provide our clients with the best accounting
        </p>
        <p class="solutions-to-solve">and financial services in the market.</p>
      </div>
      <div class="home-child6"></div>
      <div class="home-child7"></div>
      <div class="risk-assurance">Risk & Assurance</div>
      <div class="we-offer-risk-container">
        <p class="solutions-to-solve">
          We offer risk and assurance services for new, as
        </p>
        <p class="solutions-to-solve">
          well as established businesses - to help them
        </p>
        <p class="solutions-to-solve">
          reduce risks and overcome any disruption.
        </p>
      </div>
      <img class="bribery-icon" alt="" src="/images/bribery.png" />

      <img class="bribery-icon1" alt="" src="/images/bribery.png" />

      <img class="bribery-icon2" alt="" src="/images/bribery.png" />

      <img class="home-child8" alt="" src="/images/rectangle-37@2x.png" />

      <img class="home-child9" alt="" src="/images/rectangle-38.svg" />

      <div class="who-we-are">Who we are</div>
      <div class="why-choose-us">Why Choose Us</div>
      <div class="what-our-clients">What Our Clients Say</div>
      <div class="what-we-do">What We Do</div>
      <div class="tax-associate-is-container">
        <p class="solutions-to-solve">
          TAx Associate is a provider of standardised and effective business
        </p>
        <p class="solutions-to-solve">
          solutions that can aid entrepreneurs and businesses to thrive. Our
        </p>
        <p class="solutions-to-solve">
          legal, business management, and accounting solutions are tailored
        </p>
        <p class="solutions-to-solve">to take your business forward.</p>
      </div>
      <div class="whether-you-are-container">
        <p class="solutions-to-solve">
          Whether you are looking to set up a business or are
        </p>
        <p class="an-established-business">
          an established business, we offer a range of solutions
        </p>
        <p class="solutions-to-solve">
          proven to add value and help your business grow.
        </p>
      </div>
      <div class="every-step-to-container">
        <p class="solutions-to-solve">
          Every step to take your business forward should be calculated.
        </p>
        <p class="solutions-to-solve">
          We understand this responsibility and achieve this by enabling,
        </p>
        <p class="an-established-business">
          evaluating and enforcing the highest standards in the profession.
        </p>
      </div>
      <div class="explore-cross-sectoral-advice-container">
        <p class="solutions-to-solve">
          Explore cross-sectoral advice, insights, tips and more
        </p>
        <p class="solutions-to-solve">
          from our team of industry experts and professionals
        </p>
      </div>
      <div class="the-best-solutions-container">
        <p class="solutions-to-solve">The best solutions for</p>
        <p class="solutions-to-solve">your business</p>
      </div>
      <div class="dedicated-to-achieve-container">
        <span class="dedicated-to-achieve">Dedicated to achieve the</span>
        <span class="span"> </span>
        <span class="dedicated-to-achieve">best results</span>
      </div>
      <div class="testimonials">Testimonials</div>
      <div class="how-we-work">How We Work</div>
      <div class="guiding-you-all">Guiding you all the way</div>
      <div class="faq">FAQ</div>
      <div class="frequently-asked-questions">Frequently Asked Questions</div>
      <div class="trending-topics">Trending Topics</div>
      <div class="latest-news">Latest News & Articles</div>
      <div class="our-services">
        <span class="dedicated-to-achieve">Our</span>
        <span class="span"> </span>
        <span class="dedicated-to-achieve">Services</span>
      </div>
      <div class="home-child10"></div>
      <div class="read-more">Read more</div>
      <div class="financial-reporting1">Financial Reporting</div>
      <div class="understanding-your-businesss-container">
        <p class="solutions-to-solve">
          Understanding your business's financial health
        </p>
        <p class="solutions-to-solve">
          is pivotal for growth and sustainability. At ASK
        </p>
        <p class="solutions-to-solve">
          Associates, we compile your financial data and
        </p>
        <p class="solutions-to-solve">
          transform it into comprehensive financial reports.
        </p>
      </div>
      <div class="rectangle-parent">
        <div class="group-child"></div>
        <div class="read-more1">Read More</div>
      </div>
      <div class="line-div"></div>
      <img class="bribery-icon3" alt="" src="/images/bribery.png" />

      <div class="bookkeeping-services">Bookkeeping services</div>
      <div class="understanding-your-businesss-container1">
        <p class="solutions-to-solve">
          Understanding your business's financial health
        </p>
        <p class="solutions-to-solve">
          is pivotal for growth and sustainability. At ASK
        </p>
        <p class="solutions-to-solve">
          Associates, we compile your financial data and
        </p>
        <p class="solutions-to-solve">
          transform it into comprehensive financial reports.
        </p>
      </div>
      <div class="rectangle-group">
        <div class="group-child"></div>
        <div class="read-more1">Read More</div>
      </div>
      <div class="home-child11"></div>
      <img class="bribery-icon4" alt="" src="/images/bribery.png" />

      <div class="tax-preparation-and">Tax Preparation and Planing</div>
      <div class="understanding-your-businesss-container2">
        <p class="solutions-to-solve">
          Understanding your business's financial health
        </p>
        <p class="solutions-to-solve">
          is pivotal for growth and sustainability. At ASK
        </p>
        <p class="solutions-to-solve">
          Associates, we compile your financial data and
        </p>
        <p class="solutions-to-solve">
          transform it into comprehensive financial reports.
        </p>
      </div>
      <div class="rectangle-container">
        <div class="group-child"></div>
        <div class="read-more1">Read More</div>
      </div>
      <div class="home-child12"></div>
      <img class="bribery-icon5" alt="" src="/images/bribery.png" />

      <div class="payroll-services">Payroll Services</div>
      <div class="understanding-your-businesss-container3">
        <p class="solutions-to-solve">
          Understanding your business's financial health
        </p>
        <p class="solutions-to-solve">
          is pivotal for growth and sustainability. At ASK
        </p>
        <p class="solutions-to-solve">
          Associates, we compile your financial data and
        </p>
        <p class="solutions-to-solve">
          transform it into comprehensive financial reports.
        </p>
      </div>
      <div class="group-div">
        <div class="group-child"></div>
        <div class="read-more1">Read More</div>
      </div>
      <div class="home-child13"></div>
      <img class="bribery-icon6" alt="" src="/images/bribery.png" />

      <div class="management-accounting">Management Accounting</div>
      <div class="understanding-your-businesss-container4">
        <p class="solutions-to-solve">
          Understanding your business's financial health
        </p>
        <p class="solutions-to-solve">
          is pivotal for growth and sustainability. At ASK
        </p>
        <p class="solutions-to-solve">
          Associates, we compile your financial data and
        </p>
        <p class="solutions-to-solve">
          transform it into comprehensive financial reports.
        </p>
      </div>
      <div class="rectangle-parent1">
        <div class="group-child"></div>
        <div class="read-more1">Read More</div>
      </div>
      <div class="home-child14"></div>
      <img class="bribery-icon7" alt=""src="/images/bribery.png" />

      <div class="fuel-charge-return">Fuel Charge Return</div>
      <div class="understanding-your-businesss-container5">
        <p class="solutions-to-solve">
          Understanding your business's financial health
        </p>
        <p class="solutions-to-solve">
          is pivotal for growth and sustainability. At ASK
        </p>
        <p class="solutions-to-solve">
          Associates, we compile your financial data and
        </p>
        <p class="solutions-to-solve">
          transform it into comprehensive financial reports.
        </p>
      </div>
      <div class="rectangle-parent2">
        <div class="group-child"></div>
        <div class="read-more1">Read More</div>
      </div>
      <div class="home-child15"></div>
      <img class="bribery-icon8" alt="" src="/images/bribery.png" />

      <div class="wsib-workplace-safely">
        WSIB (Workplace Safely and Insurance Board)
      </div>
      <div class="testimonals">Testimonals</div>
      <div class="understanding-your-businesss-container6">
        <p class="solutions-to-solve">
          Understanding your business's financial health
        </p>
        <p class="solutions-to-solve">
          is pivotal for growth and sustainability. At ASK
        </p>
        <p class="solutions-to-solve">
          Associates, we compile your financial data and
        </p>
        <p class="solutions-to-solve">
          transform it into comprehensive financial reports.
        </p>
      </div>
      <div class="understanding-your-businesss-container7">
        <p class="solutions-to-solve">
          Understanding your business's financial health
        </p>
        <p class="solutions-to-solve">
          is pivotal for growth and sustainability. At ASK
        </p>
        <p class="solutions-to-solve">
          Associates, we compile your financial data and
        </p>
        <p class="solutions-to-solve">
          transform it into comprehensive financial reports.
        </p>
      </div>
      <div class="rectangle-parent3">
        <div class="group-child"></div>
        <div class="read-more1">Read More</div>
      </div>
      <div class="rectangle-parent4">
        <div class="group-child"></div>
        <div class="read-more1">Read More</div>
      </div>
      <div class="home-child16"></div>
      <div class="home-child17"></div>
      <img class="bribery-icon9" alt=""src="/images/bribery.png"/>

      <img class="bribery-icon10" alt="" src="/images/bribery.png" />

      <div class="financing-and-liasing">Financing and Liasing wit Banks</div>
      <div class="understanding-your-businesss-container8">
        <p class="solutions-to-solve">
          Understanding your business's financial health
        </p>
        <p class="solutions-to-solve">
          is pivotal for growth and sustainability. At ASK
        </p>
        <p class="solutions-to-solve">
          Associates, we compile your financial data and
        </p>
        <p class="solutions-to-solve">
          transform it into comprehensive financial reports.
        </p>
      </div>
      <div class="rectangle-parent5">
        <div class="group-child"></div>
        <div class="read-more1">Read More</div>
      </div>
      <div class="home-child18"></div>
      <img class="bribery-icon11" alt="" src="/images/bribery.png" />

      <div class="our-team-of-dedicated-professi-parent">
        <div class="our-team-of-container">
          <p class="solutions-to-solve">Our team of dedicated professionals</p>
          <p class="solutions-to-solve">will be there to help you with your</p>
          <p class="solutions-to-solve">accounting and business needs.</p>
        </div>
        <img class="bribery-icon12" alt="" src="/images/bribery.png" />

        <div class="dedicated-experts">Dedicated experts</div>
        <div class="ellipse-div"></div>
      </div>
      <div class="no-complicated-paperwork-just-parent">
        <div class="no-complicated-paperwork-container">
          <p class="solutions-to-solve">No complicated paperwork. Just send</p>
          <p class="solutions-to-solve">us your documents and we will handle</p>
          <p class="solutions-to-solve">the rest for you.</p>
        </div>
        <img class="bribery-icon12" alt="" src="/images/bribery.png" />

        <div class="hassle-free-process">Hassle-free process</div>
        <div class="ellipse-div"></div>
      </div>
      <div class="our-clients-can-handle-everyth-parent">
        <div class="our-clients-can-container">
          <p class="solutions-to-solve">
            Our clients can handle everything from
          </p>
          <p class="solutions-to-solve">company registration to accounting</p>
          <p class="solutions-to-solve">requirements remotely.</p>
        </div>
        <img class="bribery-icon12" alt="" src="/images/bribery.png" />

        <div class="handle-remotely">Handle remotely</div>
        <div class="ellipse-div"></div>
      </div>
      <div class="rectangle-parent6">
        <div class="group-child9"></div>
        <div class="group-child10"></div>
        <div class="tabish-waheed">Tabish waheed</div>
        <div class="customer">Customer</div>
        <img class="ellipse-icon" alt="" src="/images/ellipse-4@2x.png" />

        <div class="group-child11"></div>
        <div class="lorem-ipsum-is-container">
          <p class="solutions-to-solve">
            “Lorem Ipsum is simply dummy text of the printing and
          </p>
          <p class="solutions-to-solve">
            typesetting industry. Lorem Ipsum has been the
          </p>
          <p class="solutions-to-solve">
            industry's standard dummy text ever since the 1500s,
          </p>
          <p class="solutions-to-solve">
            when an unknown printer took a galley of type and
          </p>
          <p class="solutions-to-solve">
            scrambled it to make a type specimen book.”
          </p>
        </div>
        <img class="vector-icon" alt="" src="/images/vector.svg" />

        <img class="vector-icon1" alt="" src="/images/vector1.svg" />

        <img class="vector-icon2" alt="" src="/images/vector2.svg" />

        <img class="vector-icon3" alt="" src="/images/vector3.svg" />

        <img class="vector-icon4" alt="" src="/images/vector4.svg" />
      </div>
      <img class="group-icon" alt="" src="/images/group-16.svg" />

      <div class="home-child19"></div>
      <img class="vector-icon5" alt="" src="/images/vector5.svg" />

      <div class="home-child20"></div>
      <img class="vector-icon6" alt="" src="/images/vector6.svg" />

      <div class="layer-parent">
        <img class="layer-icon" alt="" src="/images/_Layer_.svg" />

        <div class="ellipse-parent">
          <div class="group-child12"></div>
          <div class="div">1</div>
          <div class="pre-registration-requirements">
            Pre-Registration Requirements
          </div>
        </div>
      </div>
      <div class="layer-group">
        <img class="layer-icon1" alt="" src="/images/layer2.svg" />

        <div class="ellipse-group">
          <div class="group-child12"></div>
          <div class="div">2</div>
          <div class="pre-registration-requirements">
            Approvals and Registration
          </div>
        </div>
      </div>
      <div class="layer-container">
        <img class="layer-icon2" alt="" src="/images/layer3.svg" />

        <div class="ellipse-container">
          <div class="group-child12"></div>
          <div class="div">3</div>
          <div class="pre-registration-requirements">Accounting Services</div>
        </div>
      </div>
      <div class="how-should-i-structure-my-smal-parent">
        <div class="how-should-i">
          How should I structure my small business?
        </div>
        <div class="group-child15"></div>
        <div class="rectangle-parent7">
          <div class="group-child16"></div>
          <div class="group-child17"></div>
        </div>
        <div class="group-child18"></div>
      </div>
      <div class="should-i-open-a-business-bank-parent">
        <div class="how-should-i">Should I open a business bank account?</div>
        <div class="group-child15"></div>
        <div class="rectangle-parent7">
          <div class="group-child16"></div>
          <div class="group-child17"></div>
        </div>
        <div class="group-child18"></div>
      </div>
      <div class="should-i-use-cash-basis-or-acc-parent">
        <div class="how-should-i">
          Should I use cash-basis or accrual accounting?
        </div>
        <div class="group-child15"></div>
        <div class="rectangle-parent7">
          <div class="group-child16"></div>
          <div class="group-child17"></div>
        </div>
        <div class="group-child18"></div>
      </div>
      <div class="how-do-i-file-my-small-busines-parent">
        <div class="how-should-i">How do I file my small business taxes?</div>
        <div class="group-child15"></div>
        <div class="rectangle-parent7">
          <div class="group-child16"></div>
          <div class="group-child17"></div>
        </div>
        <div class="group-child18"></div>
      </div>
      <div class="rectangle-parent11">
        <div class="group-child31"></div>
        <img class="vector-icon7" alt="" src="/images/vector-3.svg" />

        <div class="read-more10">Read more</div>
        <img class="group-child32" alt="" src="/images/rectangle-93@2x.png" />

        <a
          class="paye-modernisation"
          href="https://taxassociate.ie/paye-modernisation/"
          target="_blank"
          >Paye Modernisation</a
        >
        <div class="sep2023">12 sep,2023</div>
        <div class="paye-modernisation-is-container">
          <p class="solutions-to-solve">
            PAYE Modernisation is the modification of
          </p>
          <p class="solutions-to-solve">
            the current Pay As You Earn (PAYE) system.
          </p>
          <p class="solutions-to-solve">
            It simply means every time a business runs
          </p>
          <p class="solutions-to-solve">
            a payroll, they will be required to submit
          </p>
          <p class="solutions-to-solve">their pay, tax and other</p>
        </div>
      </div>
      <div class="rectangle-parent12">
        <div class="group-child31"></div>
        <img class="vector-icon7" alt="" src="/images/vector-3.svg" />

        <div class="read-more10">Read more</div>
        <img class="group-child32" alt="" src="/images/rectangle-93-1@2x.png" />

        <div class="budget-2019">Budget 2019</div>
        <div class="sep2023">12 sep,2023</div>
        <div class="paye-modernisation-is-container">
          <p class="solutions-to-solve">
            PAYE Modernisation is the modification of
          </p>
          <p class="solutions-to-solve">
            the current Pay As You Earn (PAYE) system.
          </p>
          <p class="solutions-to-solve">
            It simply means every time a business runs
          </p>
          <p class="solutions-to-solve">
            a payroll, they will be required to submit
          </p>
          <p class="solutions-to-solve">their pay, tax and other</p>
        </div>
      </div>
      <div class="rectangle-parent13">
        <div class="group-child31"></div>
        <img class="vector-icon7" alt="" src="/images/vector-3.svg" />

        <div class="read-more10">Read more</div>
        <img class="group-child32" alt="" src="/images/rectangle-93-2@2x.png" />

        <div class="budget-2019">Irish Budget 2021</div>
        <div class="sep2023">12 sep,2023</div>
        <div class="paye-modernisation-is-container">
          <p class="solutions-to-solve">
            PAYE Modernisation is the modification of
          </p>
          <p class="solutions-to-solve">
            the current Pay As You Earn (PAYE) system.
          </p>
          <p class="solutions-to-solve">
            It simply means every time a business runs
          </p>
          <p class="solutions-to-solve">
            a payroll, they will be required to submit
          </p>
          <p class="solutions-to-solve">their pay, tax and other</p>
        </div>
      </div>
      <div class="rectangle-parent14">
        <div class="group-child37"></div>
        <div class="get-in-touch">Get in touch</div>
      </div>
      <div class="rectangle-parent15">
        <div class="group-child38"></div>
        <div class="explore">Explore</div>
        <div class="get-in-touch1">Get In Touch</div>
        <a
          class="services2"
          href="https://taxassociate.ie/services/company-formation/"
          target="_blank"
          >Services</a
        >
        <div class="email">Email</div>
        <div class="enter-your-email">Enter your email address</div>
        <div class="contact-us">Contact us</div>
        <div class="contact-number">Contact number</div>
        <div class="timings">Timings</div>
        <div class="group-child39"></div>
        <div class="group-child40"></div>
        <div class="subscribe">Subscribe</div>
        <div class="group-child41"></div>
        <div class="ask-associate-all">
          © 2023 Ask Associate. All Rights Reserved
        </div>
        <img class="image-1-icon1" alt="" src="/images/image-11@2x.png" />

        <div class="ask-associate-is-container">
          <p class="solutions-to-solve">
            Ask Associate is a leading consultancy firm
          </p>
          <p class="solutions-to-solve">
            that provides simple yet effective company
          </p>
          <p class="solutions-to-solve">
            registration and accounting solutions to
          </p>
          <p class="solutions-to-solve">enterprises in Ireland.</p>
        </div>
      </div>
      <img class="facebook-icon" alt="" src="/images/facebook@2x.png" />

      <img class="twitter-icon" alt="" src="/images/twitter@2x.png" />

      <img class="linkedin-icon" alt="" src="/images/linkedin@2x.png" />
    </div>
  </body>
</html>
