<%- include('../partials/head.ejs') %>
<title>Order Company</title>
<%- include('../partials/body.ejs') %>
<div class="navbar23">

    <div class="prelative">
        <%- include('../partials/navbar.ejs', { currentPage: 'ordercompany' }) %>

    
    </div>
    <div class="topimage">

        <div class="column-2">
            <p>Order Company</p>
            <p class="littleheading">Form Your New Company</p>
        </div>
        <div class="column-2">
            <p class="hometocontact"> Home > Order Company </p>
        </div>
    </div>
</div>
    <form action="">
        <div style="display: flex; flex-direction: row; width: 60%; padding: 30px 120px; margin: 0 auto;">

            <div class="c" style="display: flex; flex-direction: column; width: 50%;">
                <p class="input-labels">Name*</p>
                <input type="text" name="name" class="form-input-control" style="width: 50%;">
            </div>
            <div class="c" style="display: flex; flex-direction: column; width: 50%;">
                <p class="input-labels">Company name*</p>
                <input type="number" name="name" class="form-input-control" style="width: 50%;">
            </div>
        </div>
                <div style="display: flex; flex-direction: row; width: 60%; padding: 30px 120px; margin: 0 auto;">


            <div class="c" style="display: flex; flex-direction: column; width: 100%;">
                <p class="input-labels">Address*</p>
                <input type="email" name="name" class="form-input-control" style="width: 75%;">
            </div>
        </div>

                <div style="display: flex; flex-direction: row; width: 60%; padding: 30px 120px; margin: 0 auto;">


            <div class="c" style="display: flex; flex-direction: column; width: 50%;">
                <p class="input-labels">Phone number*</p>
                <input type="text" name="name" class="form-input-control" style="width: 50%;">
            </div>
            <div class="c" style="display: flex; flex-direction: column; width: 50%;">
                <p class="input-labels">Email address*</p>
                <input type="number" name="name" class="form-input-control" style="width: 50%;">
            </div>
        </div>
        <div style="display: flex; flex-direction: row; width: 60%; padding: 30px 120px; margin: 0 auto;">

            <div style="float: right;">
                <button type="submit" class="form-submit-btn">Previous</button>
                <button type="submit" class="form-submit-btn">Submit</button>
            </div>
        </div>
    </form>

    <%- include('../partials/footer.ejs') %>
